<h1>Editing Color Bar Library Widget</h1>

<%= render 'form', color_bar_library_widget: @color_bar_library_widget %>

<%= link_to 'Show', @color_bar_library_widget %> |
<%= link_to 'Back', color_bar_library_widgets_path %>
