<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @color_bar_widget.color %>
</p>

<%= link_to 'Edit', edit_color_bar_widget_path(@color_bar_widget) %> |
<%= link_to 'Back', color_bar_widgets_path %>
